body{
    background-color:cadetblue !important;
}
.col-md-7{
    margin-top: 150px !important;
    background-color:rgb(160, 145, 145) !important;
    padding: 10px;
    padding-left: 20px !important;
}
h1{
    background-color:dimgray;
    color: white !important;
}
input, label{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}